@model HomePageViewModel

@{
    ViewData["Title"] = "صفحه اصلی";
}

<!DOCTYPE html>
<html lang="en">

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

    <!-- ======= Header ======= -->
    <header id="header">
        <div class="d-flex flex-column">

            <div class="profile">
                <img src="~/assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
                <h1 class="text-light text-center"><a href="index.html">Mohammadreza Bakhtiari</a></h1>
                <div class="social-links mt-3 text-center">
                    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                    <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
            </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>خانه</span></a></li>
                    <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>بیوگرافی</span></a></li>
                    <li><a href="#skills" class="nav-link scrollto"><i class="bx bxs-trophy"></i> <span>مهارت ها</span></a></li>
                    <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>رزومه</span></a></li>
                    <li><a href="#github" class="nav-link scrollto"><i class="bx bx-sitemap"></i> <span>گیت هاب</span></a></li>
                    <li><a href="#template" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>قالب های سایت</span></a></li>
                    <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>تماس با من</span></a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a href="/Home/Admin" class="nav-link scrollto"><i class="bx bx-cake"></i> <span>ادمین</span></a></li>
                    }
                </ul>
            </nav><!-- .nav-menu -->
        </div>
    </header><!-- End Header -->

    <div style="direction: rtl">
        <!-- ======= Hero Section ======= -->
        <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
            <div class="hero-container" data-aos="fade-in">
                <h1>محمدرضا بختیاری</h1>
                <p>من برنامه نویس <span class="typed" data-typed-items="بک اند , فرانت اند , فریلنسر"></span> هستم</p>
            </div>
        </section><!-- End Hero -->

        <main id="main">
            <!-- ======= About Section ======= -->
            <section id="about" class="about">
                <div class="container">
                    <div class="section-title">
                        <h2>بیوگرافی</h2>
                        <p>@Model.AboutText</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-4" data-aos="fade-right">
                            <img src="assets/img/profile/@Model.HeaderMyPhoto" class="img-fluid" alt="">
                        </div>
                        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                            <h3>@Model.AboutTitle</h3>
                            <div class="row">
                                <div class="col-lg-6">
                                    <ul>
                                        <li><i class="bi bi-chevron-right"></i> <strong>تاریخ تولد:</strong> <span>@Model.BirthDay</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>وب سایت:</strong> <span>@Model.Website</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>تلفن:</strong> <span>@Model.Phone</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>شهر:</strong> <span>@Model.City</span></li>
                                    </ul>
                                </div>
                                <div class="col-lg-6">
                                    <ul>
                                        <li><i class="bi bi-chevron-right"></i> <strong>سن:</strong> <span>@Model.Age</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>مدرک:</strong> <span>@Model.Degree</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>ایمیل:</strong> <span>@Model.Email</span></li>
                                        <li><i class="bi bi-chevron-right"></i> <strong>لینکدین :</strong> <span>@Model.LinkedIn</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section><!-- End About Section -->
            <!-- ======= Facts Section ======= -->
            <section id="facts" class="facts">
                <div class="container">

                    <div class="section-title">
                        <h2>Facts</h2>
                        <p>@Model.FactsText</p>
                    </div>

                    <div class="row no-gutters">

                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                            <div class="count-box">
                                <i class="bi bi-emoji-smile"></i>
                                <span>@Model.CountOfCustomers</span>
                                <p><strong>تعداد مشتریان که </strong> با من کار کرده اند</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                            <div class="count-box">
                                <i class="bi bi-journal-richtext"></i>
                                <span>@Model.CountOfTestProjects</span>
                                <p><strong>پروژه</strong> به طور آموزشی انجام داده ام</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                            <div class="count-box">
                                <i class="bi bi-headset"></i>
                                <span>@Model.CountOfPublishedProjects</span>
                                <p><strong>پروژه</strong> منتشر شده</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                            <div class="count-box">
                                <i class="bi bi-people"></i>
                                <span>@Model.CountOfPublishedProjects</span>
                                <p><strong>سال</strong> تجربه کار حرفه ای</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!-- End Facts Section -->
            <!-- ======= Skills Section ======= -->
            <section id="skills" class="skills section-bg">
                <div class="container">

                    <div class="section-title">
                        <h2>مهارت ها</h2>
                        <p>@Model.SkillsText</p>
                    </div>

                    @foreach (var skill in Model.Skills)
                    {
                        <div class="row skills-content">
                            <h2>@skill.Title</h2>
                            <div class="col-lg-6" data-aos="fade-up">
                                @if (skill.SkillDetails != null)
                                {
                                    @foreach (var detail in skill.SkillDetails)
                                    {
                                        <div class="progress">
                                            <span class="skill">@detail.Title<i class="val">@detail.Percent%</i></span>
                                            <div class="progress-bar-wrap">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="@detail.Percent" aria-valuemin="0" aria-valuemax="@detail.Percent"></div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
            </section><!-- End Skills Section -->
            <!-- ======= Resume Section ======= -->
            <section id="resume" class="resume">
                <div class="container">

                    <div class="section-title">
                        <h2>رزومه</h2>
                        <p>@Model.ResumeText</p>
                    </div>

                    <div class="row">
                        <div class="col-lg-6" data-aos="fade-up">
                            <h3 class="resume-title">خلاصه</h3>
                            <div class="resume-item pb-0">
                                <h4>محمدرضا بختیاری</h4>
                                <p><em>@Model.BiographySummaryText</em></p>
                                <ul>
                                    <li>@Model.City</li>
                                    <li>@Model.Phone</li>
                                    <li>@Model.Email</li>
                                </ul>
                            </div>

                            <h3 class="resume-title">مدرک آکادمیک</h3>
                            <div class="resume-item">
                                <h4>@Model.EducationFirstTitle</h4>
                                <h5>@Model.EducationFirstYear</h5>
                                <p><em>@Model.EducationFirstAddress</em></p>
                            </div>
                            <div class="resume-item">
                                <h4>@Model.EducationSecondTitle</h4>
                                <h5>@Model.EducationSecondYear</h5>
                                <p><em>@Model.EducationSecondAddress</em></p>
                            </div>
                        </div>
                        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                            <h3 class="resume-title">تجربه کار حرفه ای</h3>
                            <div class="resume-item">
                                <h4>@Model.JobFirstTitle</h4>
                                <h5>@Model.JobFirstYear</h5>
                                <p><em>@Model.JobFirstAddress</em></p>
                                <ul>
                                    <li>@Model.JobFirstDescription1</li>
                                    <li>@Model.JobFirstDescription2</li>
                                    <li>@Model.JobFirstDescription3</li>
                                </ul>
                            </div>
                            <div class="resume-item">
                                <h4>@Model.JobSecondTitle</h4>
                                <h5>@Model.JobSecondYear</h5>
                                <p><em>@Model.JobSecondAddress</em></p>
                                <ul>
                                    <li>@Model.JobSecondDescription1</li>
                                    <li>@Model.JobSecondDescription2</li>
                                    <li>@Model.JobSecondDescription3</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </section><!-- End Resume Section -->
            <!-- ======= Github Section ======= -->

            <section id="github" class="portfolio section-bg">

                <div class="container">
                    <div class="section-title">
                        <h2>آدرس گیت هاب</h2>
                        <p>@Model.GithubText</p>
                        <a href="@Model.GithubUrl">@Model.GithubUrl</a>
                    </div>
                </div>

            </section>

            <!-- End Github Section -->
            <div id="templatePartial">
                <partial name="_Template" model="@Model.TemplatePaging" />
            </div>
            <!-- ======= Contact Section ======= -->
            <section id="contact" class="contact">
                <div class="container">

                    <div class="section-title">
                        <h2>تماس با من</h2>
                        <p>@Model.ContactText</p>
                    </div>

                    <div class="row" data-aos="fade-in">

                        <div class="col-lg-5 d-flex align-items-stretch">
                            <div class="info">
                                <div class="address">
                                    <i class="bi bi-geo-alt"></i>
                                    <h4>آدرس:</h4>
                                    <p>@Model.City</p>
                                </div>

                                <div class="email">
                                    <i class="bi bi-envelope"></i>
                                    <h4>ایمیل:</h4>
                                    <p>@Model.Email</p>
                                </div>

                                <div class="phone">
                                    <i class="bi bi-phone"></i>
                                    <h4>تلفن:</h4>
                                    <p>@Model.Phone</p>
                                </div>

                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                            </div>

                        </div>
                        <partial name="_ContactForm" model="@Model.Contact" />
                    </div>

                </div>
            </section><!-- End Contact Section -->
        </main><!-- End #main -->
        <!-- ======= Footer ======= -->
    </div>

    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>bakhtiari.info</span></strong>
            </div>
            <div class="credits">
                طراحی شده توسط <a href="https://bakhtiari.info/">محمدرضا بختیاری</a>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

   
</body>

</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    function LoadTemplate(groupId, pageId) {
        $.ajax({
            type: "GET",
            url: "/Home/GetTemplateGroups?groupId=" + groupId + "&&pageId=" + pageId
        }).done(function (data, statusText, xhdr) {
            $("#templatePartial").html(data);
        }).fail(function (xhdr, statusText, errorText) {
        });
    }
</script>
